body {
    background-color: #808080;
    margin: 0;
    padding: 0;
}

#list-docs {
    display: flex;
    flex-direction: column;
    width: 100px;
    position: fixed;
    top: 10px;
    right: 10px;
    list-style-type: none;
}

.docs-item {
    border: 1px solid #333;
    background: aliceblue;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
}

#pdf-tool {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#pdf-annots {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    left: 10px;
}

.hidden {
    display: none;
}

#doc-name {
    background: #0085ff;
    color: white;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
}
